.container {
    width: 650px;
    height: 630px;
    background-color: #fad6d6;
    border: 2px solid #ee8989;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .container img {
    width: 300px;
    height: 350px;
  }
  
  .question {
    font-size: 40px;
    margin-top: 50px;
    font-family: 'Snell Roundhand', sans-serif;
  }
    
  
  .options {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    padding: 35px 50px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .yes-button {
    background-color: rgb(190, 116, 197);
  }
  
  .yes-button.clicked {
    background-color: rgb(247, 241, 164);
  }
  
  .no-button {
    background-color: red;
  }
  
  